form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.product {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.add {
  display: flex;
  align-items: center;
  gap: 5px;
}
