.toast_container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;

  .toast_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 5px;
  }
}
