* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
  font-family: 'Arial', serif;
}

input,
button,
select {
  font-size: 14px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
